﻿@using GProject.Data.Enums;
@model GProject.WebApplication.Models.OrderDTO
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewBag.Title = "Trạng thái hóa đơn";
    Layout = "~/Views/Shared/_Layout.cshtml";


    //int checkCus = int.Parse(Html.Encode(ViewBag.CusNull));
}

<style>
    .totalStatus:after {
        content: attr(value);
        font-size: 15px;
        background: red;
        border-radius: 50%;
        padding: 3px 6px;
        position: relative;
        left: -8px;
        top: -10px;
        opacity: 0.9;
        color: white;
    }
</style>


@if (@ViewData["Mess"] != null)
{
    <p style="visibility: hidden;" id="error">@ViewData["Mess"]</p>
}
@if (@ViewData["message"] != null)
{
    <p style="visibility: hidden;" id="messerror">@ViewData["message"]</p>
}

<div class="section-box">
    <div class="breadcrumbs-div">
        <div class="container">
            <ul class="breadcrumb">
                <li><a class="font-xs color-gray-1000" href="/">Trang chủ</a></li>
                <li><a class="font-xs color-gray-500">Đơn Hàng</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="super_container">
    <div class="col product_section clearfix">
        <div class="container">
            <form asp-action="ViewOrderCustomer">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-2"></div>
                                <div class="form-group col-3">
                                    <label class="col-12 control-label">Mã hóa đơn</label>
                                    <div class="col-12">
                                        <input type="text" id="orderId" name="orderId" value="@ViewData["orderId"]" placeholder="Nhập mã hóa hơn..." class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group col-3">
                                    <label class="col-12 control-label">Số điện thoại</label>
                                    <div class="col-12">
                                        <input id="phone" name="phone" value="@ViewData["phone"]" placeholder="Nhập số điện thoại..." class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group col-2">
                                    <label class="col-12 control-label">Trạng thái</label>
                                    <div class="col-12">
                                        <select name="sortOrder" id="sortOrder" class="form-select">
                                            <option>Tất cả</option>
                                            <option value="@ViewData["InProgress"]">Chờ xác nhận</option>
                                            <option value="@ViewData["XacNhan"]">Đã xác nhận</option>
                                            <option value="@ViewData["Confirmed"]">Đang vận chuyển</option>
                                            <option value="@ViewData["Delivery"]">Đang giao hàng</option>
                                            <option value="@ViewData["Accomplished"]">Hoàn thành</option>
                                            <option value="@ViewData["Canceled"]">Đã hủy</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-2">
                                    <label class="col-12 control-label"></label>
                                    <div class="row">
                                        <div class="col-4">
                                            <button class="btn btn-outline-success col-12" type="submit"><i class="fa fa-search"></i></button>
                                        </div>
                                        <div class="col-4" style="margin-left: -10px;">
                                            <a class="btn btn-outline-info col-12" asp-action="ViewOrderCustomer"><i class="fas fa-undo-alt"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </form>
        </div>
        @if (Model.OrderList.Count() == 0)
        {
            <h3 class="text-center text-warning">Không có thông tin trạng thái hóa đơn!</h3>
        }
        else
        {
            @foreach (var item in Model.OrderList)
            {
                <div class="container" style="background-color: gray;">
                    <div class="card-body p-4">
                        <div class="card shadow-0 border mb-4">
                            <h4 class="mb-10" style="margin-left: 20px;">Mã Hóa Đơn:<span class="color-success"> #@item.OrderId</span></h4>
                            <h6 class="color-gray-500" style="margin-left: 20px;">Đặt ngày: @item.CreateDate.ToString("dd/MM/yyyy HH:mm")</h6>
                            @if (item.Status == OrderStatus.InProgress)
                            {
                                <div class="table-responsive" style="margin-left: 145px;">
                                    <div class="list-steps">
                                        <div class="item-step">
                                            <div class="rounded-step">
                                                <div class="icon-step step-1 active"></div>
                                                <h6 class="mb-5" style="color:#5BC694">Chờ xác nhận</h6>
                                            </div>
                                        </div>
                                        <div class="item-step">
                                            <div class="rounded-step">
                                                <div class="icon-step step-2"></div>
                                                <h6 class="mb-5">Đã xác nhận</h6>
                                            </div>
                                        </div>
                                        <div class="item-step">
                                            <div class="rounded-step">
                                                <div class="icon-step step-3"></div>
                                                <h6 class="mb-5">Đang vận chuyển</h6>
                                            </div>
                                        </div>
                                        <div class="item-step">
                                            <div class="rounded-step">
                                                <div class="icon-step step-4"></div>
                                                <h6 class="mb-5">Đang giao hàng</h6>
                                            </div>
                                        </div>
                                        <div class="item-step">
                                            <div class="rounded-step">
                                                <div class="icon-step step-5"></div>
                                                <h6 class="mb-5">Hoàn thành</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            @if (item.Status == OrderStatus.DaXacNhan)
                            {
                                <div class="table-responsive" style="margin-left:145px">
                                    <div class="list-steps">
                                        <div class="item-step">
                                            <div class="rounded-step">
                                                <div class="icon-step step-1 active"></div>
                                                <h6 class="mb-5">Chờ xác nhận</h6>
                                            </div>
                                        </div>
                                        <div class="item-step">
                                            <div class="rounded-step">
                                                <div class="icon-step step-2 active"></div>
                                                <h6 class="mb-5" style="color:#5BC694">Đã xác nhận</h6>
                                            </div>
                                        </div>
                                        <div class="item-step">
                                            <div class="rounded-step">
                                                <div class="icon-step step-3"></div>
                                                <h6 class="mb-5">Đang vận chuyển</h6>
                                            </div>
                                        </div>
                                        <div class="item-step">
                                            <div class="rounded-step">
                                                <div class="icon-step step-4"></div>
                                                <h6 class="mb-5">Đang giao hàng</h6>
                                            </div>
                                        </div>
                                        <div class="item-step">
                                            <div class="rounded-step">
                                                <div class="icon-step step-5"></div>
                                                <h6 class="mb-5">Hoàn thành</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            @if (item.Status == OrderStatus.Confirmed)
                            {
                                <div class="table-responsive" style="margin-left:145px">
                                    <div class="list-steps">
                                        <div class="item-step">
                                            <div class="rounded-step">
                                                <div class="icon-step step-1 active"></div>
                                                <h6 class="mb-5">Chờ xác nhận</h6>
                                            </div>
                                        </div>
                                        <div class="item-step">
                                            <div class="rounded-step">
                                                <div class="icon-step step-2 active"></div>
                                                <h6 class="mb-5">Đã xác nhận</h6>
                                            </div>
                                        </div>
                                        <div class="item-step">
                                            <div class="rounded-step">
                                                <div class="icon-step step-3 active"></div>
                                                <h6 class="mb-5" style="color:#5BC694">Đang vận chuyển</h6>
                                            </div>
                                        </div>
                                        <div class="item-step">
                                            <div class="rounded-step">
                                                <div class="icon-step step-4"></div>
                                                <h6 class="mb-5">Đang giao hàng</h6>
                                            </div>
                                        </div>
                                        <div class="item-step">
                                            <div class="rounded-step">
                                                <div class="icon-step step-5"></div>
                                                <h6 class="mb-5">Hoàn thành</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            @if (item.Status == OrderStatus.Delivery)
                            {
                                <div class="table-responsive" style="margin-left:145px">
                                    <div class="list-steps">
                                        <div class="item-step">
                                            <div class="rounded-step">
                                                <div class="icon-step step-1 active"></div>
                                                <h6 class="mb-5">Chờ xác nhận</h6>
                                            </div>
                                        </div>
                                        <div class="item-step">
                                            <div class="rounded-step">
                                                <div class="icon-step step-2 active"></div>
                                                <h6 class="mb-5">Đã xác nhận</h6>
                                            </div>
                                        </div>
                                        <div class="item-step">
                                            <div class="rounded-step">
                                                <div class="icon-step step-3 active"></div>
                                                <h6 class="mb-5">Đang vận chuyển</h6>
                                            </div>
                                        </div>
                                        <div class="item-step">
                                            <div class="rounded-step">
                                                <div class="icon-step step-4 active"></div>
                                                <h6 class="mb-5" style="color:#5BC694">Đang giao hàng</h6>
                                            </div>
                                        </div>
                                        <div class="item-step">
                                            <div class="rounded-step">
                                                <div class="icon-step step-5"></div>
                                                <h6 class="mb-5">Hoàn thành</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            @if (item.Status == OrderStatus.Accomplished)
                            {
                                <div class="table-responsive" style="margin-left:145px">
                                    <div class="list-steps">
                                        <div class="item-step">
                                            <div class="rounded-step">
                                                <div class="icon-step step-1 active"></div>
                                                <h6 class="mb-5">Chờ xác nhận</h6>
                                            </div>
                                        </div>
                                        <div class="item-step">
                                            <div class="rounded-step">
                                                <div class="icon-step step-2 active"></div>
                                                <h6 class="mb-5">Đã xác nhận</h6>
                                            </div>
                                        </div>
                                        <div class="item-step">
                                            <div class="rounded-step">
                                                <div class="icon-step step-3 active"></div>
                                                <h6 class="mb-5">Đang vận chuyển</h6>
                                            </div>
                                        </div>
                                        <div class="item-step">
                                            <div class="rounded-step">
                                                <div class="icon-step step-4 active"></div>
                                                <h6 class="mb-5">Đang giao hàng</h6>
                                            </div>
                                        </div>
                                        <div class="item-step">
                                            <div class="rounded-step">
                                                <div class="icon-step step-5 active"></div>
                                                <h6 class="mb-5" style="color:#5BC694">Hoàn thành</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            <hr class="mb-4" style="background-color: #e0e0e0; opacity: 1;">
                            <div class="list-orders" style="margin: 20px;">
                                @foreach (var orderDetails in Model.ShowOrderDtoList.Where(x => x.OrderDetail.OrderId == item.Id))
                                {
                                    <div class="item-orders">
                                        <div class="image-orders"><img src="~/images/@orderDetails.ProductVariation.Image" alt="Ecom" href="/productdetail/@orderDetails.Product.Id"></div>
                                        <div class="info-orders">
                                            <a href="/productdetail/@orderDetails.Product.Id" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:20px;line-height:26px;font-weight:bold;color:#425A8B">@orderDetails.Product.Name</a>
                                        </div>
                                        <div class="quantity-orders">
                                            <h5>Số lượng: @orderDetails.OrderDetail.Quantity</h5>
                                        </div>
                                        <div class="price-orders">
                                            <h5>@orderDetails.OrderDetail.Price.ToString("#,##0.##")</h5>
                                        </div>
                                    </div>
                                }
                            </div>
                            <hr style="background-color: #e0e0e0; opacity: 1;">
                            <div class="row d-flex align-items-center" style="margin-left: 20px;">
                                <div class="col-md-8">
                                    <label>Thông tin giao hàng: </label>
                                    <div>
                                        <label>@item.ShippingFullName | @item.ShippingPhone,</label>
                                    </div>
                                    <div>
                                        <label>@item.ShippingAddress, @item.ShippingTown, @item.ShippingDistrict, @item.ShippingCity</label>
                                    </div>

                                </div>
                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-6">
                                            <h5>Trạng thái:</h5>
                                        </div>
                                        <div class="col-6">
                                            @{
                                                if (item.PaymentDate == null)
                                                {
                                                    <h5 class="text-primary">Chưa thanh toán</h5>
                                                }
                                                else if (item.Status == OrderStatus.Accomplished || item.PaymentDate != null)
                                                {
                                                    <h5 class="text-success">Đã thanh toán</h5>
                                                }
                                            }
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <label>Phí ship:</label>
                                        </div>
                                        <div class="col-6">
                                            <label> @item.ShippingFee?.ToString("#,##0.##") đ</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <label>Giảm giá:</label>
                                        </div>
                                        <div class="col-6">
                                            <label> - @string.Format("{0:#,##0}",  @item.DiscountRate) đ</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <h5>Thành tiền:</h5>
                                        </div>
                                        <div class="col-6">
                                            <h5 style="color: red"> @item.TotalMoney.ToString("#,##0.##") đ</h5>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            @if (item.Status == OrderStatus.Delivery)
                            {
                                <div class="row d-flex align-items-center">
                                    <div class="col-md-8"></div>
                                    <div class="col-md-4" style="margin-bottom:25px;margin-top:25px">
                                        <a href="/Order/CheckOrderStatus?accomplished=@item.Id" class="btn btn-success col-10">Đã nhận hàng</a>
                                    </div>
                                </div>
                            }
                            else if (item.Status == OrderStatus.InProgress)
                            {
                                <div class="row d-flex align-items-center">
                                    <div class="col-md-8"></div>
                                    <div class="col-md-4" style="margin-bottom:25px;margin-top:25px">
                                        <a onclick="CanceledOrder('@item.Id', '@((int)item.PaymentType)')" style="color: white" class="btn btn-danger col-10">Hủy đơn</a>
                                    </div>
                                </div>
                            }
                            else if (item.Status == OrderStatus.Accomplished)
                            {
                                <div class="row d-flex align-items-center">
                                    <div class="col-md-8"></div>
                                    <div class="col-md-4" style="margin-bottom:25px;margin-top:25px">
                                        <button disabled class="btn btn-success col-10">Đã giao hàng thành công</button>
                                    </div>
                                </div>
                            }
                            else if (item.Status == OrderStatus.DaXacNhan)
                            {
                                <div class="row d-flex align-items-center">
                                    <div class="col-md-8"></div>
                                    <div class="col-md-4" style="margin-bottom:25px;margin-top:25px">
                                        <button disabled class="btn btn-success col-10">Đã xác nhận</button>
                                    </div>
                                </div>
                            }
                            else if (item.Status == OrderStatus.Canceled)
                            {
                                <div class="row d-flex align-items-center">
                                    <div class="col-md-8"></div>
                                    <div class="col-md-4" style="margin-bottom:25px;margin-top:25px">
                                        <button disabled class="btn btn-danger col-10">Đơn hàng đã bị hủy</button>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>


<script asp-append-version="true">
    $(document).ready(function () {
    @* $(".CanceledOrder").click(function () {

            }); *@

                var er = document.getElementById('error')
        if (er != null) {
            if ($('#error').text() == 'Failed')
                swal("Không thành công", "Thao tác thất bại, vui lòng thực hiện lại", "error");
            else
                swal("Thành công", "Thao tác thành công", "success");
        }

        var messerror = document.getElementById('messerror')
        if (messerror != null) {
            swal("Không thành công", messerror, "error");
        }
    });

    function CanceledOrder(id, payType) {
        var _id = id;
        if (payType == "1") {
            swal("Thông báo", "Đơn hàng không thể hủy do bạn đã thanh toán, bạn cần liên hệ với shop!", "error");
        }
        else {
            swal("Bạn có muốn hủy đơn hàng này không?", {
                title: 'Thông báo',
                icon: 'info',
                buttons: ["Không, tôi cần xem lại", "Có, tôi đồng ý"],
            }).then(function (isConfirm) {
                if (isConfirm) {
                    debugger

                    $.ajax({
                        url: "/Order/CheckOrderStatus?canceled=" + _id,
                        method: 'GET',
                        contentType: 'application/json',
                        success: function () {
                            swal("Thành công", "Đơn hàng đã được hủy!", "success");
                            location.href = "/Order/ViewOrderCustomer"
                        }, error: function (data) {
                            swal("Thông báo", "Đơn hàng không chưa được hủy!", "error");
                        }
                    })
                } else {
                    swal("Thông báo", "Đơn hàng không chưa được hủy!", "error");
                }
            });
        }
    }
</script>